*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.body-dark {
    background-color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
}
.cover {
    width: 200px;
}

.myLogo {
    width:100px;
    height:54px;
}
.mainWrapper {
    align-items: center;
    margin-top: 50px;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
div button.myBtn {
    color: red;
    border-color: red;
}

.padd-wrapper {
    padding-top: 100px;
}
.wrapper-paragraph {
    display:none;
    background-color: rgba(0, 0, 0, 1);
    width: 200px;
    height:100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.displayBlock:hover .wrapper-paragraph {
    display: block;
   
} 
.stars {
    color:orange;
}
.color-white {
    color: white;
}

.flag-icon {
    background-color: #ccc;
}
.display-inl-bloc {
    display:inline-block;
}
.paddBott {
    padding-bottom: 20px;
}
.margLeft {
    margin-left: 20px;
}
