<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Boolflix</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flag-icon.css">

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="body-dark">
    <div id="app" >
        <!-- navbar-light bg-light -->

        <nav class="navbar fixed-top">
            <div class="container-fluid">
                <img class="navbar-brand" src="img/Netflix.png" alt="netflix logo" width="100" height="54">
                <div>
                    <form @submit.prevent="doSearch" class="d-flex">
                        <input class="form-control me-2" type="search" v-model="textTosearch" placeholder="Search" aria-label="Search">
                        <button class="myBtn btn btn-outline-danger" type="submit">Cerca</button>
                    </form>
                </div>
            </div>
        </nav>
        

        <!-- d-flex -->
        
        <div class="padd-wrapper">
            <h1 class="color-white display-inl-bloc paddBott">Film/SerieTv</h1>
            <!-- il value di una select a cui vene fatto il v-model è il value della option selezionata 
            genreFilter è in data
            -->
            <select v-model="genreFilter" class="margLeft">
                <option value="">Nessun filtro</option>
                <option v-for="genre in allGenres" :value="genre.id">{{genre.name}} </option>
            </select>
           
            
            <ul class="d-flex">
                <li v-for="movie in fullList" class="displayBlock" @mouseenter="callCast(movie)">
                  
                   
                    <img :src="getImgSrc(movie)" width="200">
                   
                    <div class="color-text-white wrapper-paragraph">
                        <p>Titolo del film: {{movie.title}}</p>
                        <p>Titolo originale: {{movie.original_title}}</p>

                        <p v-if="movie.castList && movie.castList.length > 0">Cast: {{ movie.castList.join(', ') }} </p>
                        <p v-if="movie.typeGenres && movie.typeGenres.length > 0">Generi: {{ movie.typeGenres.join(', ') }} </p>
                        <!-- <p>Lingua <img :src="movie.flag" :alt="movie.original_language" width="24" height="24" /></p> 

                        :class="variabileData" => class="pippo"
                        :class="['item', variabileData, `item-${variabileData}`]" => class="item pippo item-pippo"
                        :class="{ active: variabileData === 'pippo' }" => class="active"
                        :class="['item', { active: variabileData === 'pippo' }]" => class="item active"
                        -->
                        <p>
                            Lingua:
                            <span :class="['flag-icon', `flag-icon-${movie.country}`]"></span>
                        </p>
                        <p>Voto</p>
                        <div class="stars">
                            <span v-for="value in 5" class="star">
                                <i v-if="value <= movie.vote" class="fa fa-star"></i>
                                <i v-else class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        
        </div>
    </div>
    <script src="scripts/app.js"></script>
</body>

</html>